interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoresummaryv3?GameID=0029700001
  response:
    body:
      string: '{"meta":{"version":1,"request":"http://nba.cloud/games/0029700001/boxscoresummary?Format=json","time":"2025-02-18T17:06:59.659Z"},"boxScoreSummary":{"gameId":"0029700001","gameCode":"19971031/CHIBOS","gameStatus":3,"gameStatusText":"Final","period":4,"gameClock":"PT00M00.00S","gameTimeUTC":"1997-11-01T01:00:00Z","gameEt":"1997-10-31T20:00:00Z","awayTeamId":1610612741,"homeTeamId":1610612738,"duration":"2:17","attendance":18624,"sellout":0,"seriesGameNumber":"","gameLabel":"","gameSubLabel":"","seriesText":"","ifNecessary":false,"isNeutral":false,"arena":{"arenaId":17,"arenaName":"TD
        Garden","arenaCity":"Boston","arenaState":"MA","arenaCountry":"US","arenaTimezone":"Eastern","arenaStreetAddress":"","arenaPostalCode":""},"officials":[],"broadcasters":{"nationalBroadcasters":[],"nationalRadioBroadcasters":[],"nationalOttBroadcasters":[],"homeTvBroadcasters":[],"homeRadioBroadcasters":[],"homeOttBroadcasters":[],"awayTvBroadcasters":[],"awayRadioBroadcasters":[],"awayOttBroadcasters":[]},"homeTeam":{"teamId":1610612738,"teamName":"Celtics","teamCity":"Boston","teamTricode":"BOS","teamSlug":"celtics","teamWins":36,"teamLosses":46,"score":92,"inBonus":"","timeoutsRemaining":0,"seed":0,"statistics":{"dummyKey":"dummyValue"},"periods":[{"period":1,"periodType":"REGULAR","score":12},{"period":2,"periodType":"REGULAR","score":22},{"period":3,"periodType":"REGULAR","score":34},{"period":4,"periodType":"REGULAR","score":24}],"players":[{"personId":442,"name":"Pervis
        Ellison","nameI":"P. Ellison","firstName":"Pervis","familyName":"Ellison","jerseyNum":"29"},{"personId":344,"name":"Dana
        Barros","nameI":"D. Barros","firstName":"Dana","familyName":"Barros","jerseyNum":"11"},{"personId":1497,"name":"Chauncey
        Billups","nameI":"C. Billups","firstName":"Chauncey","familyName":"Billups","jerseyNum":"4"},{"personId":962,"name":"Walter
        McCarty","nameI":"W. McCarty","firstName":"Walter","familyName":"McCarty","jerseyNum":"0"},{"personId":1500,"name":"Ron
        Mercer","nameI":"R. Mercer","firstName":"Ron","familyName":"Mercer","jerseyNum":"5"},{"personId":963,"name":"Dontae''
        Jones","nameI":"D. Jones","firstName":"Dontae''","familyName":"Jones","jerseyNum":"13"},{"personId":1519,"name":"John
        Thomas","nameI":"J. Thomas","firstName":"John","familyName":"Thomas","jerseyNum":"55"},{"personId":952,"name":"Antoine
        Walker","nameI":"A. Walker","firstName":"Antoine","familyName":"Walker","jerseyNum":"8"},{"personId":1477,"name":"Bruce
        Bowen","nameI":"B. Bowen","firstName":"Bruce","familyName":"Bowen","jerseyNum":"12"},{"personId":692,"name":"Andrew
        DeClercq","nameI":"A. DeClercq","firstName":"Andrew","familyName":"DeClercq","jerseyNum":"45"},{"personId":244,"name":"Dee
        Brown","nameI":"D. Brown","firstName":"Dee","familyName":"Brown","jerseyNum":""},{"personId":969,"name":"Travis
        Knight","nameI":"T. Knight","firstName":"Travis","familyName":"Knight","jerseyNum":"40"}],"inactives":[]},"awayTeam":{"teamId":1610612741,"teamName":"Bulls","teamCity":"Chicago","teamTricode":"CHI","teamSlug":"bulls","teamWins":62,"teamLosses":20,"score":85,"inBonus":"","timeoutsRemaining":0,"seed":0,"statistics":{"dummyKey":"dummyValue"},"periods":[{"period":1,"periodType":"REGULAR","score":32},{"period":2,"periodType":"REGULAR","score":11},{"period":3,"periodType":"REGULAR","score":15},{"period":4,"periodType":"REGULAR","score":27}],"players":[{"personId":166,"name":"Ron
        Harper","nameI":"R. Harper","[...]
