interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoresummaryv3?GameID=0021900001
  response:
    body:
      string: '{"meta":{"version":1,"request":"http://nba.cloud/games/0021900001/boxscoresummary?Format=json","time":"2026-03-31T21:00:27.027Z"},"boxScoreSummary":{"gameId":"0021900001","gameCode":"20191022/NOPTOR","gameStatus":3,"gameStatusText":"Final/OT","period":5,"gameClock":"PT00M00.00S","gameTimeUTC":"2019-10-23T00:01:00Z","gameEt":"2019-10-22T20:01:00Z","awayTeamId":1610612740,"homeTeamId":1610612761,"duration":"2:50","attendance":0,"sellout":0,"seriesGameNumber":"","gameLabel":"","gameSubLabel":"","seriesText":"","ifNecessary":false,"isNeutral":false,"arena":{"arenaId":643,"arenaName":"Scotiabank
        Arena","arenaCity":"Toronto","arenaState":"ON","arenaCountry":"CA","arenaTimezone":"Eastern","arenaStreetAddress":"","arenaPostalCode":""},"officials":[{"personId":2529,"name":"Tony
        Brown","nameI":"T. Brown","firstName":"Tony","familyName":"Brown","jerseyNum":"6   ","assignment":""},{"personId":200833,"name":"Eric
        Dalen","nameI":"E. Dalen","firstName":"Eric","familyName":"Dalen","jerseyNum":"37  ","assignment":""},{"personId":201639,"name":"Josh
        Tiven","nameI":"J. Tiven","firstName":"Josh","familyName":"Tiven","jerseyNum":"58  ","assignment":""}],"broadcasters":{"internationalBroadcasters":[],"internationalRadioBroadcasters":[],"internationalOttBroadcasters":[],"nationalBroadcasters":[{"broadcasterId":1000103,"broadcastDisplay":"Bounce/WSB","broadcasterDisplay":"Bounce
        TV / WSB Now","broadcasterVideoLink":"","broadcasterDescription":"","broadcasterTeamId":-1,"regionId":1}],"nationalRadioBroadcasters":[],"nationalOttBroadcasters":[],"homeTvBroadcasters":[],"homeRadioBroadcasters":[],"homeOttBroadcasters":[],"awayTvBroadcasters":[],"awayRadioBroadcasters":[],"awayOttBroadcasters":[]},"homeTeam":{"teamId":1610612761,"teamName":"Raptors","teamCity":"Toronto","teamTricode":"TOR","teamSlug":"raptors","teamWins":1,"teamLosses":0,"score":130,"inBonus":"","timeoutsRemaining":1,"seed":0,"statistics":{"dummyKey":"dummyValue"},"periods":[{"period":1,"periodType":"REGULAR","score":27},{"period":2,"periodType":"REGULAR","score":29},{"period":3,"periodType":"REGULAR","score":32},{"period":4,"periodType":"REGULAR","score":29},{"period":5,"periodType":"OVERTIME","score":13}],"players":[{"personId":200768,"name":"Kyle
        Lowry","nameI":"K. Lowry","firstName":"Kyle","familyName":"Lowry","jerseyNum":"7"},{"personId":201188,"name":"Marc
        Gasol","nameI":"M. Gasol","firstName":"Marc","familyName":"Gasol","jerseyNum":"33"},{"personId":201586,"name":"Serge
        Ibaka","nameI":"S. Ibaka","firstName":"Serge","familyName":"Ibaka","jerseyNum":"9"},{"personId":1626169,"name":"Stanley
        Johnson","nameI":"S. Johnson","firstName":"Stanley","familyName":"Johnson","jerseyN[...]
