interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoresummaryv3?GameID=0022300590
  response:
    body:
      string: '{"meta":{"version":1,"request":"http://nba.cloud/games/0022300590/boxscoresummary?Format=json","time":"2025-08-11T11:34:31.3431Z"},"boxScoreSummary":{"gameId":"0022300590","gameCode":"20240119/INDPOR","gameStatus":3,"gameStatusText":"Final","period":4,"gameClock":"PT00M00.00S","gameTimeUTC":"2024-01-20T03:00:00Z","gameEt":"2024-01-19T22:00:00Z","awayTeamId":1610612754,"homeTeamId":1610612757,"duration":"2:27","attendance":18595,"sellout":0,"seriesGameNumber":"","gameLabel":"","gameSubLabel":"","seriesText":"","ifNecessary":false,"isNeutral":false,"arena":{"arenaId":51,"arenaName":"Moda
        Center","arenaCity":"Portland","arenaState":"OR","arenaCountry":"US","arenaTimezone":"Pacific","arenaStreetAddress":"","arenaPostalCode":""},"officials":[{"personId":1162,"name":"Scott
        Foster","nameI":"S. Foster","firstName":"Scott","familyName":"Foster","jerseyNum":"48  ","assignment":""},{"personId":1626302,"name":"Aaron
        Smith","nameI":"A. Smith","firstName":"Aaron","familyName":"Smith","jerseyNum":"51  ","assignment":""},{"personId":1627524,"name":"Nate
        Green","nameI":"N. Green","firstName":"Nate","familyName":"Green","jerseyNum":"41  ","assignment":""}],"broadcasters":{"internationalBroadcasters":[{"broadcasterId":1306,"broadcastDisplay":"QQ","broadcasterDisplay":"Tencent","broadcasterVideoLink":"","broadcasterDescription":"","broadcasterTeamId":-1,"regionId":8},{"broadcasterId":1563,"broadcastDisplay":"SN","broadcasterDisplay":"SN","broadcasterVideoLink":"","broadcasterDescription":"","broadcasterTeamId":1610612761,"regionId":2},{"broadcasterId":1684,"broadcastDisplay":"WAPA
        TV","broadcasterDisplay":"WAPA TV","broadcasterVideoLink":"","broadcasterDescription":"","broadcasterTeamId":-1,"regionId":52}],"internationalRadioBroadcasters":[],"internationalOttBroadcasters":[],"nationalBroadcasters":[],"nationalRadioBroadcasters":[{"broadcasterId":1001098,"broadcastDisplay":"SiriusXM","broadcasterDisplay":"SiriusXM","broadcasterVideoLink":"https://www.siriusxm.com/sports/nba?utm_campaign=SXM_NA_BAU&utm_source=2023-11_NA_NBA-SiriusXMNFLRadio.NBA.NBAWebsiteWaystoListen.NA.Logo-NBA2023WaystoListen.Q42023.NA&utm_medium=Partner&utm_term=","broadcasterDescription":"","broadcasterTeamId":-1,"regionId":1}],"nationalOttBroadcasters":[],"homeTvBroadcasters":[{"broadcasterId":1001045,"broadcastDisplay":"ROOT-SP/+","broadcasterDisplay":"ROOT
        SPORTS/ROOT SPORTS Plus","broadcasterVideoLink":"","broadcasterDescription":"","broadcasterTeamId":1610612757,"regionId":1}],"homeRadioBroadcasters":[{"broadcasterId":1472,"broadcastDisplay":"KPOJ","broadcasterDisplay":"Rip
        City Radio 620","broadcasterVideoLink":"","broadcasterDescription":"","broadcasterTeamId":1610612757,"regionId":1}],"homeOttBroadcasters":[],"awayTvBroadcasters":[{"broadcasterId":1000341,"broadcastDisplay":"BSIN","broadcasterDisplay":"Bally
        Sports Indiana","broadcasterVideoLink":"","broadcasterDescription":"","broadcasterTeamId":1610612754,"regionId":1}],"awayRadioBroadcasters":[{"broadcasterId":1641,"broadcastDisplay":"WFNI-FM/AM","broadcasterDisplay":"93.5/107.5
        The Fan","broadcasterVideoLink":"","broadcasterDescription":"","broadcasterTeamId":1610612754,"regionId":1}],"awayOttBroadcasters":[]},"homeTeam":{"teamId":1610612757,"teamName":"Trail
        Blazers","teamCity":"Portland","teamTricode":"POR","teamSlug":"blazers","teamWins":12,"teamLosses":29,"score":118,"inBonus":"","timeoutsRemaining":0,"seed":0,"statistics":{"dummyKey":"dummyValue"},"periods":[{"period":1,"periodType":"REGULAR","score":34},{"period":2,"periodType":"REGULAR","score":30},{"period":3,"periodType":"REGULAR","score":24},{"period":4,"periodType":"REGULAR","score":30}],"players":[{"personId":203924,"name":"Jerami
        Grant","nameI":"J. Grant","firstName":"Jerami","familyName":"Grant","jerseyNum":"9"},{"personId":1627763,"name":"Malcolm
        Brogdon","nameI":"M. Brogdon","firstName":"Malcolm","familyName":"Brogdon","jerseyNum":"11"},{"personId":1629028,"name":"Deandre
        Ayton","nameI":"D. Ayton","firstName":"Deandre","familyName":"Ayton","jerseyNum":"2"},{"personId":1629680,"name":"Matisse
        Thybulle","nameI":"M. Thybulle","firstName":"Matisse","family[...]
