interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://stats.nba.com/stats/boxscoretraditionalv2?EndPeriod=0&EndRange=0&GameID=0022300590&RangeType=0&StartPeriod=0&StartRange=0
  response:
    body:
      string: '{"resource":"boxscore","parameters":{"GameID":"0022300590","StartPeriod":0,"EndPeriod":0,"StartRange":0,"EndRange":0,"RangeType":0},"resultSets":[{"name":"PlayerStats","headers":["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","TEAM_CITY","PLAYER_ID","PLAYER_NAME","NICKNAME","START_POSITION","COMMENT","MIN","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","OREB","DREB","REB","AST","STL","BLK","TO","PF","PTS","PLUS_MINUS"],"rowSet":[["0022300590",1610612754,"IND","Indiana",1630174,"Aaron
        Nesmith","Aaron","F","","28:00",4,9,0.444,3,4,0.75,1,2,0.5,1,3,4,2,0,0,2,6,12,15],["0022300590",1610612754,"IND","Indiana",1627783,"Pascal
        Siakam","Pascal","F","","34:16",9,14,0.643,1,3,0.333,2,6,0.333,0,6,6,3,1,0,1,5,21,17],["0022300590",1610612754,"IND","Indiana",1626167,"Myles
        Turner","Myles","C","","34:06",10,17,0.588,6,10,0.6,3,3,1.0,2,10,12,1,0,5,1,3,29,6],["0022300590",1610612754,"IND","Indiana",1627741,"Budd[...]
